@using Priceless.Models.Helpers;
@using System.Web.Helpers;

@model Priceless.Models.Stream

@{ ViewData["Title"] = "Details";
    bool flag = false;
    string ids;
    PersonCacheModel personCache = null;
    if (Context.Request.Cookies.TryGetValue("Id", out ids))
    {
        personCache = WebCache.Get("LoggedIn" + ids);
    }
    if (personCache != null)
    {
        if (personCache.Status == "Admin" || personCache.Status == "Curator")
        {
            flag = true;
        } } }
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="wsk-cp-product">
                <div class="wsk-cp-text" style="padding-top: 0px;">
                    <div class="title-product">
                        <h3>@Model.Name</h3>
                    </div>
                    <div class="description-prod">
                        <p>
                            Начало регистрации: @Model.RegStart
                        </p>
                        <p>
                            Конец регистрации: @Model.RegEnd
                        </p>
                        <p>
                            Начало потока: @Model.Start
                        </p>
                        <p>
                            Конец потока: @Model.End
                        </p>
                        <div>
                            @{
                                if (flag)
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
                <span>|</span>
            }
                            }
                            <a asp-action="Index">Вернуться к списку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
