@using Priceless.Models.Helpers;
@using System.Web.Helpers;

@model IEnumerable<Priceless.Models.Teacher>

@{ ViewData["Title"] = "Index";
    Dictionary<int, bool> dict = ViewBag.SelectedMajors;
    string ids;
    PersonCacheModel personCache = null;
    if (Context.Request.Cookies.TryGetValue("Id", out ids))
    {
        personCache = WebCache.Get("LoggedIn" + ids);
    }
    if (personCache != null)
    {
        if (personCache.Role == "Teacher" && (personCache.Status == "Admin" || personCache.Status == "Admitted" || personCache.Status == "Curator"))
        {
    <form asp-action="Index" method="post">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control checkbox">
                            @{ if (ViewBag.Process)
                                {
                    <input type="checkbox" value="true" name="admitted" checked /> }
                else
                {
                    <input type="checkbox" value="true" name="admitted" /> } }
                            <span class="control-indicator"></span>
                            Просмотреть непринятые заявки
                        </label>
                    </div>
                </div>
                <div class="row">
                    @{ int cnt2 = 0;
                        List<Major> majors = ViewBag.Majors;

                        foreach (var major in majors)
                        {
                            if (cnt2++ % 2 == 0)
                            {
@:</div><div class="row">
}
@:<div class="col-md-6">
    <label class="control checkbox">
        @{ if (dict[major.Id])
            {
<input type="checkbox"
       name="selectedMajors"
       value="@major.Id" checked /> }
                        else
                        {
<input type="checkbox"
       name="selectedMajors"
       value="@major.Id" /> } }
        <span class="control-indicator"></span>
        @major.Title
    </label>
                        @:</div>
                    } }
                </div>
            </div>
            <div class="col-md-2" style="display: flex; justify-content: center; align-items: center;">
                <button type="submit" class="btn btn-primary">Обновить</button>
            </div>
        </div>
    </form> if (personCache.Status == "Admin" || personCache.Status == "Curator")
                        {
                            <h1 style="text-align: center;">
                                <a asp-action="Create">Создать нового</a>
                            </h1>
                        }
    <div class="container">
        <div class="row">
            @{ int cnt = 0;
                int len = Model.Count();

                foreach (var teacher in Model)
                {
                    cnt++;
                    if (cnt % 3 == 1)
                    {
@:</div><div class="row">
    if (len - cnt == 0)
    {
<div class="col-md-4"></div> }
else if (len - cnt == 1)
{
<div class="col-md-2"></div> }
}


<div class="col-md-4">
    <div class="wsk-cp-product">
        <div class="wsk-cp-img">
            @{ if (teacher.Image == null)
                {
<img src="~/img/default-user-icon.jpg" alt="courseImage" class="img-responsive" /> }
else
{
<img src="@teacher.Image" alt="courseImage" class="img-responsive" /> } }
        </div>
        <div class="wsk-cp-text">
            <div class="title-product">
                <h3>@teacher.Name</h3>
                <h3>@teacher.Login</h3>
            </div>
            <div class="description-prod">
                @{ if (teacher.MajorAssignments.Where(i => i.Status == "In process").Any())
                                            {
                                                <p>
                                                    <a asp-controller="Home" asp-action="Manage" asp-route-id="@teacher.Id" asp-route-userId="@personCache.Id" asp-route-admit="true" asp-route-student="false">Принять</a>
                                                    |
                                                    <a asp-controller="Home" asp-action="Manage" asp-route-id="@teacher.Id" asp-route-userId="@personCache.Id" asp-route-admit="false" asp-route-student="false">Отклонить</a>
                                                </p>
                                            } }
                <p>
                    <a asp-action="Details" asp-route-id="@teacher.Id">Детали</a>
                </p>
                
            </div>
        </div>
    </div>
</div> } }
        </div>

    </div> }
                    else
                    {
                        <div class="takeup">
                            <span class="text-danger">Только принятые учителя могут просматривать эту страницу</span>
                        </div>

                    }
                }
                else
                {
                    <div class="takeup">
                        <span class="text-danger"><a asp-action="Login" asp-controller="Home">Вы должны сперва войти в систему</a></span>
                    </div>

                } }