@using System.Web.Helpers;
@using Priceless.Models.Helpers;
@using Microsoft.AspNetCore.Mvc.Localization
<!--inject IViewLocalizer Localizer-->

@{
    ViewData["Title"] = "Home Page";
    bool flag = false;
    bool logged = false;
    string ids;
    PersonCacheModel personCache = null;
    if (Context.Request.Cookies.TryGetValue("Id", out ids))
    {
        personCache = WebCache.Get("LoggedIn" + ids);
    }
    if (personCache != null)
    {
        logged = true;
        if (personCache.Status == "Admin" || personCache.Status == "Curator" || (personCache.Status == "Admitted" & personCache.Role == "Teacher"))
        {
            flag = true;
        }
    }
}

<div class="row">
    <div class="col-md-2" style="text-align:center">
        <img src="~/img/logo2.png" alt="logo2" style="max-width: 100%;" class="helper" />
    </div>
    <div class="col-md-8">
        <h1 style="font-size: 5rem; text-align: center; color: #923631;">Priceless Education</h1>
        <p style="font-size: 2rem; text-align: center; color: #555555;" class="en">A unique educational project of students of the school "Letovo", which unites students from all over the country. We are students with a wealth of teaching experience, and we believe that our experience and love for what we do will help our peer students believe in themselves and realize their potential!</p>
        <p style="font-size: 2rem; text-align: center; color:#555555;" class="ru">Уникальный образовательный проект учеников школы “Летово”, объединяющий школьников со всей страны. Мы – школьники с богатым опытом преподавания, и мы верим, что наш опыт и любовь к тому, что мы делаем, помогут нашим ученикам-сверстникам поверить в себя и реализовать свой потенциал!</p>
        <div class="container" style="margin: 30px 0;">
            <div class="row">
                <div class="col-md-6">
                    <div class="centerize">
                        <a asp-action="Create" asp-controller="Students" class="button-block en centerize-right">
                            Admission
                        </a>
                        <a asp-action="Create" asp-controller="Students" class="button-block ru centerize-right">
                            Поступление
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="centerize">
                        <a asp-action="About" asp-controller="Home" class="button-block en centerize-left linkLng">
                            About us
                        </a>
                        <a asp-action="About" asp-controller="Home" class="button-block ru centerize-left linkLng">
                            О нас
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2" style="text-align: center;">
        <img src="~/img/logo2.png" alt="logo2" style="max-width:100%" class="helper" />
    </div>
</div>
<div class="row" style="background-color: #DCAC83;">
    <div class="container">
        <h1 class="h en">Training programs</h1>
        <h1 class="h ru">Направления обучения</h1>
        <hr class="splitter" />
        <div class="container">
            <div class="row">
                @{
                    List<Major> majors = ViewBag.Majors;

                    int cnt = 0;
                    int len = majors.Count();

                    foreach (var major in majors)
                    {
                        cnt++;
                        if (cnt % 3 == 1)
                        {
                        @:</div><div class="row">
                            if (len - cnt == 0)
                            {
                                <div class="col-lg-4"></div>
                            }
                            else if (len - cnt == 1)
                            {
                                <div class="col-lg-2"></div>
                            }
                        }


                        <div class="col-lg-4">
                            <div class="wsk-cp-product">
                                <div class="wsk-cp-img">
                                    @{
                                        if (major.Image == null)
                                        {
                                            <img src="~/img/major.png" alt="courseImage" class="img-responsive" />
                                        }
                                        else
                                        {
                                            <img src="@major.Image" alt="courseImage" class="img-responsive" />
                                        }
                                    }
                                </div>
                                <div class="wsk-cp-text">
                                    @{
                                        if (logged && !flag)
                                        {
                                            <a class="category" asp-action="Edit" asp-controller="Students" asp-route-id="@personCache.Id">
                                                <span class="en">Register</span>
                                                <span class="ru">Записаться</span>
                                            </a>
                                        }
                                        else if (logged && flag)
                                        {
                                            <a class="category" asp-action="Edit" asp-controller="Teachers" asp-route-id="@personCache.Id">
                                                <span class="en">Register</span>
                                                <span class="ru">Записаться</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="category" asp-action="Create" asp-controller="Students">
                                                <span class="en">Register</span>
                                                <span class="ru">Записаться</span>
                                            </a>
                                        }
                                    }
                                    <div class="title-product">
                                        <h3>@major.Title</h3>
                                    </div>
                                    <div class="descirption-prod">
                                        <p>
                                            <a asp-controller="Majors" asp-action="Details" asp-route-id="@major.Id" class="en">Детали</a>
                                            <a asp-controller="Majors" asp-action="Details" asp-route-id="@major.Id" class="ru">Детали</a>
                                            @{
                                                if (flag)
                                                {
                                                    <span>|</span>
                                                    <a asp-controller="Majors" asp-action="Edit" asp-route-id="@major.Id" class="en">Edit</a>
                                                    <a asp-controller="Majors" asp-action="Edit" asp-route-id="@major.Id" class="ru">Изменить</a>
                                                    <span>|</span>
                                                    <a asp-controller="Majors" asp-action="Delete" asp-route-id="@major.Id" class="en">Delete</a>
                                                    <a asp-controller="Majors" asp-action="Delete" asp-route-id="@major.Id" class="ru">Удалить</a>
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <h1 class="en">Project leaders</h1>
        <h1 class="ru">Лидеры проекта</h1>
        <hr class="splitter" />
        <div class="row">
            @{
                var admins = ViewBag.Admins;
                int cnt3 = 0;
                int len2 = admins.Count;

                foreach (var admin in admins)
                {
                    cnt3++;
                    if (cnt3 % 3 == 1)
                    {
                    @:</div><div class="row">
                        if (len2 - cnt3 == 0)
                        {
                            <div class="col-md-4"></div> }
                        else if (len2 - cnt3 == 1)
                        {
                            <div class="col-md-2"></div> }
                    }


                    <div class="col-md-4">
                        <div class="wsk-cp-product">
                            <div class="wsk-cp-img">
                                @{ if (admin.Image == null)
                                    {
                                        <img src="~/img/default-user-icon.jpg" alt="courseImage" class="img-responsive" /> }
                                    else
                                    {
                                        <img src="@admin.Image" alt="courseImage" class="img-responsive" /> } }
                            </div>
                            <div class="wsk-cp-text">
                                <div class="title-product">
                                    <h3>@admin.Name</h3>
                                </div>
                            </div>
                            <a class="stretched-link" asp-action="Details" asp-controller="Teachers" asp-route-id="@admin.Id"></a>
                        </div>
                    </div> } }
        </div>

    </div>
</div>
<div class="row">
    <div class="container">
        <h1 class="en">Curators</h1>
        <h1 class="ru">Кураторы</h1>
        <hr class="splitter" />
        <div class="row">
            @{
                var curators = ViewBag.Curators;
                int cnt4 = 0;
                int len3 = curators.Count;

                foreach (var curator in curators)
                {
                    cnt4++;
                    if (cnt4 % 3 == 1)
                    {
                    @:</div><div class="row">
                        if (len3 - cnt4 == 0)
                        {
                            <div class="col-md-4"></div> }
                        else if (len3 - cnt4 == 1)
                        {
                            <div class="col-md-2"></div> }
                    }


                    <div class="col-md-4">
                        <div class="wsk-cp-product">
                            <div class="wsk-cp-img">
                                @{ if (curator.Image == null)
                                    {
                                        <img src="~/img/default-user-icon.jpg" alt="courseImage" class="img-responsive" /> }
                                    else
                                    {
                                        <img src="@curator.Image" alt="courseImage" class="img-responsive" /> } }
                            </div>
                            <div class="wsk-cp-text">
                                <div class="title-product">
                                    <h3>@curator.Name</h3>
                                </div>
                                @{
                                    foreach (var major in curator.MajorAssignments)
                                    {
                                        <p>@major.Major.Title</p>
                                    }
                                }
                            </div>
                            <a class="stretched-link" asp-action="Details" asp-controller="Teachers" asp-route-id="@curator.Id"></a>
                        </div>
                    </div> } }
        </div>

    </div>
</div>