@using System.Web.Helpers;
@using Priceless.Models.Helpers;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Priceless</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Priceless</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Majors" asp-action="Index">Majors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Teachers" asp-action="Index">Teachers</a>
                        </li>
                    </ul>
                    <div class="btn-group">
                        @{
                            PersonCacheModel logged = WebCache.Get("LoggedIn");
                            if (logged != null)
                            {
                                <div class="btn-group dropstart" role="group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropstart</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Log out</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        @{
                                            if (logged.Role == "Student")
                                            {
                                                <li><a class="dropdown-item" asp-controller="Students" asp-action="Edit" asp-route-id="@logged.Id">Edit</a></li>
                                                <li><a class="dropdown-item" asp-controller="Students" asp-action="Delete" asp-route-id="@logged.Id" asp-route-userId="@logged.Id">Delete</a></li>
                                            }
                                            else if (logged.Role == "Techear")
                                            {
                                                <li><a class="dropdown-item" asp-controller="Teachers" asp-action="Edit" asp-route-id="@logged.Id">Edit</a></li>
                                                <li><a class="dropdown-item" asp-controller="Teachers" asp-action="Delete" asp-route-id="@logged.Id" asp-route-userId="@logged.Id">Delete</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <a asp-controller="Home" asp-action="PersonPage" style="margin-left: -0.2rem">
                                    <button type="button" class="btn btn-secondary shorten">
                                        @{
                                            if (logged.Image == null)
                                            {
                                                <img src="~/img/default-user-icon.jpg" alt="user" />

                                            }
                                            else
                                            {
                                                <img src="data:image; base64,@Convert.ToBase64String(logged.Image)" alt="user" />
                                            }
                                        }
                                    </button>
                                </a>
                            }
                            else
                            {
                                <div class="btn-group dropstart" role="group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropstart</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">Log In</a>
                                    </ul>
                                </div>
                                <a asp-controller="Home" asp-action="Login" style="margin-left: -0.2rem">
                                    <button type="button" class="btn btn-secondary shorten">
                                        <img src="~/img/default-user-icon.jpg" alt="user" />
                                    </button>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Priceless - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
