@using System.Web.Helpers;
@using Priceless.Models.Helpers;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Priceless</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/png" href="~/img/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/wtf-forms.css" />
</head>
<body>
    <div class="wrapper">
        <header class="bg-custom">
            <div class="container" id="top">
                <div class="row">
                    <div class="col-md-6">
                        <nav class="navbar navbar-dark navbar-expand-sm">
                            <div class="btn-group bg-custom-3 topBlock">
                                @{
                                    string ids;
                                    PersonCacheModel logged = null;
                                    if (Context.Request.Cookies.TryGetValue("Id", out ids))
                                    {
                                        logged = WebCache.Get("LoggedIn" + ids);
                                    }
                                    if (logged != null)
                                    {
                                            <ul class="navbar-nav">
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        @{
                                                            if (logged.Image == null)
                                                            {
                                                                <img src="~/img/default-user-icon.jpg" alt="user" class="rounded-circle" />

                                                            }
                                                            else
                                                            {
                                                                <img src="data:image; base64,@Convert.ToBase64String(logged.Image)" alt="user" class="rounded-circle" />
                                                            }
                                                        }
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                        <a class="dropdown-item en first" asp-controller="Home" asp-action="Logout">Log out</a>
                                                        <a class="dropdown-item ru first" asp-controller="Home" asp-action="Logout">Выйти</a>
                                                        @{
                                                            if (logged.Role == "Student")
                                                            {
                                                                <a class="dropdown-item en" asp-controller="Students" asp-action="Details" asp-route-id="@logged.Id">Profile</a>
                                                                <a class="dropdown-item ru" asp-controller="Students" asp-action="Details" asp-route-id="@logged.Id">Профиль</a>
                                                                <a class="dropdown-item en" asp-controller="Students" asp-action="Edit" asp-route-id="@logged.Id">Edit</a>
                                                                <a class="dropdown-item ru" asp-controller="Students" asp-action="Edit" asp-route-id="@logged.Id">Изменить профиль</a>
                                                                <a class="dropdown-item en last" asp-controller="Students" asp-action="Delete" asp-route-id="@logged.Id" asp-route-userId="@logged.Id">Delete</a>
                                                                <a class="dropdown-item ru last" asp-controller="Students" asp-action="Delete" asp-route-id="@logged.Id" asp-route-userId="@logged.Id">Удалить профиль</a>
                                                            }
                                                            else if (logged.Role == "Teacher")
                                                            {
                                                                <a class="dropdown-item en first" asp-controller="Teachers" asp-action="Details" asp-route-id="@logged.Id">Profile</a>
                                                                <a class="dropdown-item ru first" asp-controller="Teachers" asp-action="Details" asp-route-id="@logged.Id">Профиль</a>
                                                                <a class="dropdown-item en" asp-controller="Teachers" asp-action="Edit" asp-route-id="@logged.Id">Edit</a>
                                                                <a class="dropdown-item ru" asp-controller="Teachers" asp-action="Edit" asp-route-id="@logged.Id">Изменить профиль</a>
                                                                <a class="dropdown-item en last" asp-controller="Teachers" asp-action="Delete" asp-route-id="@logged.Id" asp-route-userId="@logged.Id">Delete</a>
                                                                <a class="dropdown-item ru last" asp-controller="Teachers" asp-action="Delete" asp-route-id="@logged.Id" asp-route-userId="@logged.Id">Удалить профиль</a>
                                                            }
                                                        }
                                                    </div>
                                                </li>
                                            </ul>
                                    }
                                    else
                                    {
                                            <ul class="navbar-nav">
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="ru" style="margin: 10px;">Войти</span>
                                                        <span class="en" style="margin: 10px;">Log in</span>
                                                        <img src="~/img/default-user-icon.jpg" alt="user" class="rounded-circle" />
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                        <a class="dropdown-item en first" asp-controller="Home" asp-action="Login">Log in</a>
                                                        <a class="dropdown-item ru first" asp-controller="Home" asp-action="Login">Войти</a>
                                                        <a class="dropdown-item en last" asp-controller="Home" asp-action="Register">Register</a>
                                                        <a class="dropdown-item ru last" asp-controller="Home" asp-action="Register">Зарегистрироваться</a>
                                                    </div>
                                                </li>
                                            </ul>
                                    }
                                }
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        <nav class="navbar navbar-dark navbar-expand-sm">
                            <div class="bg-custom-3 topBlock" id="second">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" class="rounded-circle">
                                                <span class="ru">Рус</span>
                                                <span class="en">En</span>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item first" id="lngSwitch1">Русский</a>
                                                <a class="dropdown-item last" id="lngSwitch2">English</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="container" style="text-align: center;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="logo" style="max-height: 70px; margin-right:0;" /></a>
            </div>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light mb-3">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerDrop" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between" id="headerDrop">
                        <div style="display: block; margin: 0 auto;">
                            <ul class="navbar-nav flex-grow-1 bg-custom-2" style="text-align:center; border-radius: 20px;">
                                <li class="nav-item">
                                    <a class="nav-link exp en" asp-area="" asp-controller="Home" asp-action="StudentPromote">Become student</a>
                                    <a class="nav-link exp ru" asp-area="" asp-controller="Home" asp-action="StudentPromote">Стать студентом</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link exp en" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                                    <a class="nav-link exp ru" asp-area="" asp-controller="Courses" asp-action="Index">Курсы</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link exp en" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    <a class="nav-link exp ru" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link exp en" asp-area="" asp-controller="Home" asp-action="Feedback">Feedback</a>
                                    <a class="nav-link exp ru" asp-area="" asp-controller="Home" asp-action="Feedback">Отзывы</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link exp" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link exp en" asp-area="" asp-controller="Majors" asp-action="Index">Majors</a>
                                    <a class="nav-link exp ru" asp-area="" asp-controller="Majors" asp-action="Index">Направления</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link exp en" asp-area="" asp-controller="Home" asp-action="TeacherPromote">Become teacher</a>
                                    <a class="nav-link exp ru" asp-area="" asp-controller="Home" asp-action="TeacherPromote">Стать учителем</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="container-fluid outer" style="margin-top: -16px;">
            <main role="main" class="pb-3 outer">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2" style="text-align:center">
                    <img src="~/img/logo2_alt.png" alt="logo2" style="max-width: 100%;" class="helper" />
                </div>
                <div class="col-md-8">
                    <div class="container">
                        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footer" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="footer">
                                <div style="display: block; margin: 0 auto;">
                                    <ul class="navbar-nav flex-grow-1 bg-custom-2" style="text-align:center; border-radius: 20px;">
                                        <li class="nav-item">
                                            <a class="nav-link exp en" asp-area="" asp-controller="Teachers" asp-action="Index">Teachers</a>
                                            <a class="nav-link exp ru" asp-area="" asp-controller="Teachers" asp-action="Index">Учителя</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link exp en" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                            <a class="nav-link exp ru" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link exp en" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
                                            <a class="nav-link exp ru" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link exp en" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                                            <a class="nav-link exp ru" asp-area="" asp-controller="Students" asp-action="Index">Студенты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="container" style="text-align: center;">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="logo" style="max-height: 70px; margin-right:0;" /></a>
                    </div>
                    <div class="container" style="text-align: center;">
                        <a href="mailto:priceless.edu@gmail.com">priceless.edu@gmail.com</a>
                    </div>
                </div>
                <div class="col-md-2" style="text-align:center">
                    <img src="~/img/logo2_alt.png" alt="logo2" style="max-width: 100%;" class="helper" />
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
